.flipcard {
  background-color: transparent;
  width: 100%;
  height: 20rem;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flipcardfront, .flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  padding: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-width: 1px;
  border-radius: 1rem;
  /* shadow */
}

/* Style the front side (fallback if image is missing) */
.flipcardfront {
  background-color: rgba(147, 197, 253, 1);
  color: black;
}

/* Style the back side */
.flipcardback {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}